<mat-sidenav-container class="app-container dark">
  <mat-sidenav #sidenav
               [mode]="sideNavMode$ | async"
               class="w-80">
    <div class="flex flex-col">
      <nav class="side-navigation">
        <a>
          Sly
        </a>
        <a>
          Essie
        </a>
      </nav>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="lg:hidden xl:hidden bg-gray-300 flex flex-row p-4 justify-items-start mb-8 text-black border-b-2 border-solid border-gray-900">
      <button mat-icon-button
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="flex-grow flex-row">
        <h1 class="text-center m-0">Sly &amp; Essie</h1>
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
